@import 'https://rsms.me/inter/inter.css'; 
@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body {
  @apply dark:bg-black tracking-[-0.011em]
}

@layer components {
  .link {
    @apply text-blue-500 dark:text-blue-400 underline;
  }
}